.inventory-body {
    position: fixed;
    min-width: 100%;
    /* background-image:url("/assets/image/bg5.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    }
  