<div class="container">
  <div class="row mt-5 " >
    <div class="col-md-12">
    <h6 class="text-center">Biz Kimiz ?</h6>
    <p>oBilet; otobüs bileti alırken firmaları kıyaslayabilmeniz ve size en uygun otobüs biletini kolayca alabilmeniz için 2012 yılında Ali Yılmaz ve Yiğit Gürocak tarafından kuruldu.
        2015 yılında Aslanoba Capital ve Earlybird Venture Capital şirketleri tarafından yatırım alarak, grup şirketleri bünyesine katıldı.
        Her biri işinde uzman ekip arkadaşlarını da bünyesine katarak kocaman bir aile haline geldi.
        Kullanıcıları en uygun bileti ararken ve alırken hiç zorlanmasın diye çok kolay kullanılabilen ve 2 dakika içerisinde otobüs biletinizi üye olmadan satın alabileceğiniz, mobil uyumlu harika bir web sitesi ve harika mobil uygulamalar hazırladı.
        Türkiye’nin En Seçkin Otobüs Firmalarını bünyesine katarak, kullanıcılarına; en iyi firmaları kıyaslama ve kendilerine en uygun otobüs biletini bulma imkanı sağladı.
        Kullanıcıları biletlerini alırken tamamen güvende olabilsin diye, kullanıcılarının tüm işlemlerini 128-bit SSL ile şifreledi ve ABD’nin en büyük internet güvenlik şirketlerinden biri olan COMODO firması ile anlaşarak tüm işlemlerin sigortalanmasını sağladı.
        Kullanıcıları hem biletlerini ararken hem de aldıktan sonra kendilerini yalnız hissetmesin diye mükemmel bir Canlı Destek ekibi kurdu ve bu ekiple birlikte; ister site üzerinden canlı destek hattına bağlanan, ister müşteri hizmetleri numarasını arayan kullanıcılarına ihtiyaç duydukları her konuda 7/24 destek verdi.
        Kullanıcıları hangi firma ile seyahat edeceğine karar verirken zorlanmasın diye, seyahatleri sonrasında yolcularına firmalar hakkında yorumlarını sordu ve bu yorumları otobüs firmalarının sayfalarında kullanıcılarıyla paylaştı.
        Kullanıcıları otobüs biletlerini alırken, otobüse hangi yönden güneş vuracağını hesaplamak zorunda kalmasın diye, bir ilke imza atarak, otobüse hangi yönden güneş vuracağı bilgisini sistemine ekledi.
        2015 yılında oBilet’in Mobil Uygulamaları MasterCard tarafından Avrupa’nın En İyi Seyahat Uygulaması seçildi.
        2017 yılında 4 milyondan fazla kişi oBilet’ten aldığı otobüs bileti ile seyahat etti.
        oBilet Mobil Uygulamaları 2.5 Milyondan fazla kullanıcı tarafından cep telefonlarına indirildi.
        Özetle;
        
        oBilet ailesi, kullanıcıları kendilerine en uygun bileti rahat ve güvenli bir şekilde alabilsin, sorunsuz bir şekilde seyahatlerini gerçekleştirebilsin diye elinden gelen her şeyi yaptı ve sizler için gelişmeye ve büyümeye devam ediyor. Şimdi sıra sizde, siz de oBilet ailesinin sizler için yarattığı imkanlardan faydalanmaya hemen başlayabilirsiniz.</p>
  </div>
</div></div>