<dx-data-grid
  (onRowInserting)="onRowInserting($event)"
  (onRowUpdating)="onRowUpdating($event)"
  (onRowRemoving)="onRowRemoving($event)"
  (onInitialized)="onInitialized($event)"
  id="gridContainer"
  #targetDataGrid
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [dataSource]="dataSource"
  [columnHidingEnabled]="true"
  [remoteOperations]="true"

  showBorders="true"
  [masterDetail]="{ enabled: false, template: 'detail' }"
  keyExpr="seferId"
  allowColumnResizing="true"
  showRowLines="true"
  hoverStateEnabled="true"
  columnAutoWidth="true"
  noDataText="Veri Yok."
>
  <dxo-column-chooser
    [enabled]="true"
    mode="dragAndDrop"
    title="Kolon Gizleme "
    allowSearch="true"
    emptyPanelText="Gizli kolon yok."
  >
  </dxo-column-chooser>
  <dxo-paging [enabled]="true" [pageSize]="15"></dxo-paging>
  <dxo-pager
    infoText= "Sayfa {0} / {1} (  Toplam Veri Sayısı {2} )"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[15, 30, 50, 100]"
    [showInfo]="true"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [width]="300"
    [highlightCaseSensitive]="false"
    placeholder="Ara..."
  ></dxo-search-panel>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxo-export
    [enabled]="true"
    fileName="SeferListesi"
    [allowExportSelectedData]="true"
  ></dxo-export>
  <dxo-group-panel [visible]="true" emptyPanelText="Sefer Listesi">
  </dxo-group-panel>
  <dxo-grouping
    [contextMenuEnabled]="true"
    expandMode="rowClick"
  ></dxo-grouping>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxo-editing

    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    mode="popup"
    useIcons="true"
  >
    <dxo-form labelLocation="top">
      <dxi-item dataField="seferId" [visible]="false"></dxi-item>
      <dxi-item
        dataField="gidis.havalimaniAdi"
        caption="Neredenee"
        editorType="dxTextBox"
      ></dxi-item>
      <dxi-item
        dataField="donus.havalimaniAdi"
        caption="Nereye"
        editorType="dxTextBox"
      ></dxi-item>
      <dxi-item dataField="kalkisTarihi" caption="Kalkış Tarihi"></dxi-item>
      <dxi-item dataField="sirketler.sirketAdi" caption="Şirket Adi"></dxi-item>
      <dxi-item dataField="biletFiyati" editorType="dxTextBox"></dxi-item>
      <dxi-item dataField="tahminiSure" editorType="dxTextBox"></dxi-item>
      <dxi-item dataField="kalkis" editorType="dxTextBox"></dxi-item>
      <dxi-item dataField="varis" editorType="dxTextBox"></dxi-item>
      <dxi-item dataField="iptaldurumu" editorType="dxTextBox" ></dxi-item>
    </dxo-form>
    <dxo-popup
      [showTitle]="true"
      title="Sefer Ekleme/Düzenle"
      [width]="600"
      [height]="300"
    >></dxo-popup
    >
    <dxo-texts
      [confirmDeleteMessage]="'Silmek istediginize emin misiniz?'"
      [editRow]="'Düzenle'"
      [deleteRow]="'Sil'"
      [addRow]="'Ekle'"
      [saveRowChanges]="'Kaydet'"
      [cancelRowChanges]="'Vazgeç'"
    ></dxo-texts>
    >
  </dxo-editing>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

  <dxi-column dataField="seferId" [allowEditing]="false" [visible]="false">
    <dxi-validation-rule
      type="number"
      valueExpr="seferId"
    ></dxi-validation-rule>
  </dxi-column>


  <dxi-column
    caption="Uçuş Durumu"
    dataField="donus.havalimaniAdi"
  >
    <dxi-validation-rule
      type="required"
      message="Durum Bilgisi Gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    caption="Uçuş Durumu"
    dataField="gidis.havalimaniAdi"
  >
    <dxi-validation-rule
      type="required"
      message="Durum Bilgisi Gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    caption="Uçak kalkış Tarihi"
    dataField="kalkisTarihi"
    dataType="date"
    format="dd/MM/yyyy"
  >
    <dxi-validation-rule
      type="required"
      message="Kalkış tarihi gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    caption="Uçak kalkış Saati"
    dataField="kalkis"
  >
    <dxi-validation-rule
      type="required"
      message="Uçak kalkış Saati gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    caption="Uçak kalkış Bitiş"
    dataField="varis"
  >
    <dxi-validation-rule
      type="required"
      message="Uçak varış Saati gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column
    caption="Uçuş Durumu"
    dataField="durum"
  >
    <dxi-validation-rule
      type="required"
      message="Durum Bilgisi Gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column  dataField="biletFiyati">
    <dxi-validation-rule
      type="required"
      max="15"
      message="Fiyat gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <dxi-column  dataField="iptaldurumu">
    <dxi-validation-rule
      type="required"
      max="15"
      message="gerekli"
    ></dxi-validation-rule>
  </dxi-column>

  <div *dxTemplate="let asama of 'detail'">
    <h6 class="pl-5">&nbsp;&nbsp;DETAY</h6>
    <br>
    <p class="pl-4">Aşama Adı : {{ asama.data.asamaAdi }}</p>


  </div>

</dx-data-grid>
